body {
    background-color: rgb(245, 190, 190);
}
.container {
    display: flex;
    width: 90vw;
    height: 70vh;
    border: 2px solid blue;
    background-color: rgb(176, 114, 235);
    justify-content: center;
    position: relative;
    top: 50px;
    left: 20px;
    justify-content: space-around;
    
    
}
.container1{
    display: flex;
    position: absolute;
    width: 25vw;
    height: 15vh;
    border: 7px solid rgb(204, 204, 78);
    top: 40px;
    background-color:blanchedalmond;
    top: 33pt;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.container2 {
    display: flex;
    position: absolute;
    border: 7px solid rgb(208, 208, 49);
    background-color:blanchedalmond;
    width: 35vw;
    height: 25vh;
    top: 80pt;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.container3{
    display: flex;
    position: absolute;
    border: 7px solid rgb(230, 230, 88);
    background-color:blanchedalmond;
    width: 45vw;
    height: 35vh;
    top: 150pt;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.container4 {
    display: flex;
    position: fixed;
    border: 10px solid rgb(192, 44, 158);
    width: 50vw;
    height: auto;
    top: 80vh;
    background-color: rgb(228, 197, 41);
    animation: fa-sta 4s linear infinite;
    animation-direction: reverse;
    justify-content: center;
    border-radius: 2em;
}

h1 {
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(212, 151, 76);
    animation: h2 4s ease-in-out infinite;
    text-align: center;

}
.fa-star{
    position: relative;
    top: 10px;
    transition: 1.3s;
    font-size: 2em;
    color: white;
    
}
.fa-star:hover {
    color: rgb(233, 233, 14);
}

@keyframes h2 {
    from {color:rgb(212, 151, 76); transform: scale(1) rotate(0deg);}
    to {color:rgb(180, 14, 147); transform: scale(2.1) rotate(10deg)}
}